
hr {
/*
temporary fix
*/	
	width: 800px;	clear: none;
	border: none;
	float: left;
}

p{padding-top: 10px;
clear:both;}

#header{background-color: white;clear: both;width: 800px;height: 75px;padding: 20px 0;;margin-bottom: 10px;
top: 0;
position: fixed;border-bottom: solid black;
}
ul {
	list-style-type: none;	
	float: left;margin: 0px 0;padding: 0px;padding-left: 0px;
}

li.value {
	padding-top: 2px;
}

li.property {
	width: 760px;
	margin-top: 10px;
	font-size: 24px;background-color: lightgray;
	color: maroon;text-align: left;
	border-top: solid black 1px;
	font-family: Arial, san-serif;padding: 10px;
}

.main_form, h1 {padding: 0px 0px 0 0px;margin: 0;border-bottom: solid gray 4px;
	float: left;width: 160px;height: 80px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#header h1{width:470px;color: maroon;
	padding-left: 10px;font-size: 25px;
}

input, select{width: 140px;
	clear: both;
}

.main_form fieldset{margin-top:-10px;padding: 0px; border: none;}

ul li ul li.property{
	background-color: none;
	font-size: 17px;border: none;	
	text-align:left;
	padding: 0;width: 180px;padding-left: 10px;
}
ul ul{
	border: none;
	width: 770px;
}

#content {
	margin-top: 115px;
	clear: both;
	padding: 0 10px;
	padding-bottom: 80px;
}


ul li ul li{
	margin: 0;
	border: none;padding: 0 10px;
}

ul li ul{
	border: none;
	clear: left;
	width: 190px; float: left; 
	padding: 0;margin: 0;
}


#help {clear: both;	border-top: solid black 1px; padding: 0;margin: 0;
bottom: 0; 
}


body{
	width: 800px;min-height: auto;
	margin: 0px auto;
}

#header form.main_form {
	font-size: 16px;
}


h3 {clear: both;}
h4,b,p,h3{
	margin: 5px;clear: none;
}

#stats {
	float: right;
clear: both;
background-color: lightgray;
padding: 10px;
width: 780px;margin-left: -10px;margin-top: 100px;

position: fixed;
bottom: 0;
}
#stats p{ text-align: right;
margin: 0;margin-right: 10px;position: static;top: 0;
	clear:none;float: right;
}


